
input {
    font-size: 40px;
    padding: 12px 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #0fd2e0;
    outline: none;
    transition: all 0.3s ease;
    margin: 20px;
    
}

h3{
    font-size: 40px;
    font-family: cursive;
    color: aquamarine;
    margin: 20px;

}
