.addForm 
{
    margin-top: 200px;
    align-items: center;
    color: green;
    align-items: center;
    display: flex;
    justify-content: center;


}
.addForm button{
    background-color: greenyellow;
    font: 10px;
    font-family:sans-serif;
    border-radius: 10px;
    padding: 20px;
}
