<div class="bookDetails">
    <table>
        <thead>
            <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Authors</th>
            <th>Price For Nepal</th>
            <th>Price For India</th>
            <th>Publication</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of listOfBook">
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.authors}}</td>
                <td>{{book.priceForNepal}}</td>
                <td>{{book.priceForIndia}}</td>
                <td>{{book.publication}}</td>
                <td><button>View</button></td>
                <td><button>Update</button></td>
            </tr>
        </tbody>
    </table>
    <div class="addForm">
        <button (click)="onAddBookClicked()">Add Book</button>
        </div>
        


</div>

